# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editors
.vscode/
.idea/
*.swp
*.swo

# Node (por si se agrega algo en el futuro)
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
